In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/CICIDS-2018-normalized.csv')

In [3]:
df.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,22,6,23/02/2018 08:18:29,1532698,11,11,1179,1969.0,648,0,...,32,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,BENIGN
1,500,17,23/02/2018 08:17:45,117573855,3,0,1500,0.0,500,500,...,8,0.0,0.0,0.0,0.0,58786927.5,2.375324e+07,75583006.0,41990849.0,BENIGN
2,500,17,23/02/2018 08:17:45,117573848,3,0,1500,0.0,500,500,...,8,0.0,0.0,0.0,0.0,58786924.0,2.375325e+07,75583007.0,41990841.0,BENIGN
3,22,6,23/02/2018 08:19:55,1745392,11,11,1179,1969.0,648,0,...,32,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,BENIGN
4,500,17,23/02/2018 08:18:17,89483474,6,0,3000,0.0,500,500,...,8,4000364.0,0.0,4000364.0,4000364.0,21370777.5,1.528092e+07,41989576.0,7200485.0,BENIGN

In [12]:
df.shape

(3041321, 80)

In [6]:
df1 = pd.read_csv('Datasets/CICIDS2017-normalized.csv')

In [16]:
df1.columns

Index(['Dst Port', 'Flow Duration', 'Tot Fwd Pkts', 'TotLen Fwd Pkts',
       'Fwd Pkt Len Max', 'Fwd Pkt Len Min', 'Fwd Pkt Len Mean',
       'Fwd Pkt Len Std', 'Bwd Pkt Len Max', 'Bwd Pkt Len Min',
       'Bwd Pkt Len Mean', 'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s',
       'Flow IAT Mean', 'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min',
       'Fwd IAT Tot', 'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max',
       'Fwd IAT Min', 'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std',
       'Bwd IAT Max', 'Bwd IAT Min', 'Fwd Header Len', 'Bwd Header Len',
       'Fwd Pkts/s', 'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max',
       'Pkt Len Mean', 'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt',
       'PSH Flag Cnt', 'ACK Flag Cnt', 'Pkt Size Avg', 'Subflow Fwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Max', 'Active Min',
       'Idle Mean', 'Idle Max', 'Idle Min', 'Label'],
      dtype='object')

In [7]:
df1.head()

,Dst Port,Flow Duration,Tot Fwd Pkts,TotLen Fwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,Fwd Pkt Len Std,Bwd Pkt Len Max,Bwd Pkt Len Min,...,Init Bwd Win Byts,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Max,Active Min,Idle Mean,Idle Max,Idle Min,Label
0,22,1266342,41,2664,456,0,64.975610,109.864573,976,0,...,243,24,32,0.0,0,0,0.0,0,0,Normal Traffic
1,22,1319353,41,2664,456,0,64.975610,109.864573,976,0,...,243,24,32,0.0,0,0,0.0,0,0,Normal Traffic
2,22,160,1,0,0,0,0.000000,0.000000,0,0,...,243,0,32,0.0,0,0,0.0,0,0,Normal Traffic
3,22,1303488,41,2728,456,0,66.536585,110.129945,976,0,...,243,24,32,0.0,0,0,0.0,0,0,Normal Traffic
4,35396,77,1,0,0,0,0.000000,0.000000,0,0,...,290,0,32,0.0,0,0,0.0,0,0,Normal Traffic

In [13]:
df1.shape

(2520751, 53)

In [14]:
df2 = pd.read_csv('Datasets/CIC-DDoS2019-normalized.csv')

In [15]:
df2.shape

(431965, 78)

In [17]:
df2.head()

,Protocol,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,Fwd Pkt Len Std,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,17,48,2,0,2944.0,0.0,1472.0,1472.0,1472.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DrDoS_DNS
1,17,2,2,0,2944.0,0.0,1472.0,1472.0,1472.0,0.0,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DrDoS_DNS
2,17,1,2,0,2944.0,0.0,1472.0,1472.0,1472.0,0.0,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DrDoS_DNS
3,17,1,2,0,2944.0,0.0,1472.0,1472.0,1472.0,0.0,...,1480,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DrDoS_DNS
4,17,1,2,0,2896.0,0.0,1448.0,1448.0,1448.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DrDoS_DNS

In [21]:
df3 = pd.read_csv('Datasets/CICIDS2018-cleaned-for-tcn.csv')
df3.shape

(1706781, 53)

In [19]:
df4 = pd.read_csv('Datasets/CICIDS2017-cleaned-for-tcn.csv')
df4.shape

(2520751, 53)

In [20]:
df5 = pd.read_csv('Datasets/CICIDS2019-cleaned-for-tcn.csv')
df5.shape

(431965, 53)

In [ ]:
df6 = pd.read_csv('C:\Users\bm215\Desktop\University Classes\Fall 2025\COSC 3348 - Security Analytics\Project\Data_files_raw\CICIDS 2017')
df6.shape