In [ ]:
import pandas as pd

# List your CSV file names
files = ["02-23-2018.csv", "02-28-2018.csv", "03-01-2018.csv", "03-02-2018.csv"]

# Read and combine them
dfs = [pd.read_csv(f) for f in files]
df = pd.concat(dfs, ignore_index=True)

C:\Users\bm215\AppData\Local\Temp\ipykernel_31124\294949026.py:7: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(f) for f in files]
C:\Users\bm215\AppData\Local\Temp\ipykernel_31124\294949026.py:7: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(f) for f in files]

In [ ]:
print(df.columns.tolist())

C:\Users\bm215\AppData\Local\Temp\ipykernel_31124\1137657072.py:1: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("CICIDS-2018.csv")

['Dst Port', 'Protocol', 'Timestamp', 'Flow Duration', 'Tot Fwd Pkts', 'Tot Bwd Pkts', 'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max', 'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std', 'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean', 'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean', 'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot', 'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min', 'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max', 'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags', 'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s', 'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean', 'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt', 'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt', 'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg', 'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg', 'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg', 'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts', 'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts', 'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts', 'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max', 'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'Label']

In [4]:
df.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,22,6,23/02/2018 08:18:29,1532698,11,11,1179,1969,648,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1,500,17,23/02/2018 08:17:45,117573855,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58786927.5,23753242.009383,75583006,41990849,Benign
2,500,17,23/02/2018 08:17:45,117573848,3,0,1500,0,500,500,...,8,0.0,0.0,0,0,58786924.0,23753248.373344,75583007,41990841,Benign
3,22,6,23/02/2018 08:19:55,1745392,11,11,1179,1969,648,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Benign
4,500,17,23/02/2018 08:18:17,89483474,6,0,3000,0,500,500,...,8,4000364.0,0.0,4000364,4000364,21370777.5,15280917.4014,41989576,7200485,Benign

In [ ]:
df["Label"].value_counts()

Label
Benign              2592630
Bot                  286191
Infilteration        161934
Brute Force -Web        362
Brute Force -XSS        151
Label                    58
SQL Injection            53
Name: count, dtype: int64

In [ ]:
def map_labels(df):

    mapping = {
        # BENIGN
        "Benign": "BENIGN",
        "Normal Traffic": "BENIGN",

        # BOT
        "Bot": "BOT",
        "Bots": "BOT",

        # INFILTRATION
        "Infiltration": "INFILTRATION",

        # BRUTE FORCE
        "Brute Force -Web": "BRUTEFORCE",
        "Brute Force -XSS": "BRUTEFORCE",
        "Brute Force": "BRUTEFORCE",

        # WEB ATTACKS
        "SQL Injection": "WEB ATTACK",
        "Web Attacks": "WEB ATTACK",

        # DOS
        "DoS": "DOS",
        "Syn": "DOS",
        "UDP": "DOS",
        "UDP-lag": "DOS",
        "UDPLag": "DOS",

        # DDOS
        "DDoS": "DDOS",
        "DrDoS_NTP": "DDOS",
        "DrDoS_UDP": "DDOS",
        "DrDoS_MSSQL": "DDOS",
        "DrDoS_DNS": "DDOS",
        "DrDoS_SNMP": "DDOS",
        "DrDoS_LDAP": "DDOS",
        "DrDoS_NetBIOS": "DDOS",
        "TFTP": "DDOS",
        "MSSQL": "DDOS",
        "WebDDoS": "DDOS",

        # PORT SCAN
        "Port Scanning": "PORTSCAN",
        "Portmap": "PORTSCAN",

        # OTHER (rare classes)
        "NetBIOS": "OTHER"
    }

    df["Label"] = df["Label"].replace(mapping)

    # Remove weird rows like "Label"
    df = df[df["Label"] != "Label"]

    return df

df = map_labels(df)
df["Label"].value_counts()

In [10]:
df = map_labels(df)
df["Label"].value_counts()

Label
BENIGN           2592630
BOT               286191
Infilteration     161934
BRUTEFORCE           513
WEB ATTACK            53
Name: count, dtype: int64

In [ ]:
df.to_csv("CICIDS-2018-cleaned.csv", index=False)